# Database
MYSQL_DATABASE=dbficha_dev
MYSQL_USER=dev_user
MYSQL_PASSWORD=dev_password
MYSQL_ROOT_PASSWORD=root_password
DB_HOST=db
DB_PORT=3306

# Backend
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change_me_in_production
DJANGO_ALLOWED_HOSTS=*

# Frontend
VITE_API_URL=/api
