# ============================================
# Variables de entorno para PRODUCCIÓN
# Copia este archivo como .env.prod y completa
# ============================================

# --- MySQL ---
MYSQL_DATABASE=dbficha_prod
MYSQL_USER=usr_ficha_prod
MYSQL_PASSWORD=CAMBIA_ESTO_contraseña_segura
MYSQL_ROOT_PASSWORD=CAMBIA_ESTO_root_password_seguro

# --- Django ---
DJANGO_SECRET_KEY=CAMBIA_ESTO_genera_con_python_-c_"from_django.core.management.utils_import_get_random_secret_key;print(get_random_secret_key())"
ALLOWED_HOSTS=fichaclinica.udp.cl,172.20.86.128
CSRF_TRUSTED_ORIGINS=https://fichaclinica.udp.cl,https://172.20.86.128

# --- Superusuario inicial ---
DJANGO_SUPERUSER_EMAIL=admin@udp.cl
DJANGO_SUPERUSER_PASSWORD=CAMBIA_ESTO_password_admin
DJANGO_SUPERUSER_FIRST_NAME=Admin
DJANGO_SUPERUSER_LAST_NAME=Sistema
